* {
  box-sizing: border-box;
}

html, body, p, header, span, a,
h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
  font: 16px 'Helvetica Neue', Helvetica, sans-serif;
  list-style: none;
}

span {
  display: block;
}

.album-card {
  margin: 10px 0;
}